h1 {
  box-sizing: border-box;   
  color: rgb(6, 9, 20);
  background-color: rgb(255, 80, 147); 
  padding: 20px;            
  border: 5px solid black;  
  margin: 30px;            
  display:flexbox;
} 
    /* Reset */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .container {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }




   
 
